@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.15s;
}

body {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: #f1f3ff;
  overflow-x: hidden;
}
body.overflow-hidden {
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  color: #fff;
  font-size: calc(1.75 * (1vw + 1vh));
  font-family: Onest;
  font-weight: 400;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  h1 {
    width: 100%;
    font-size: 34px;
  }
}

h2 {
  color: #fff;
  font-size: calc(1.5 * (1vw + 1vh));
  font-family: Onest;
  font-weight: 400;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  h2 {
    width: 100%;
    font-size: 36px;
  }
}

h3 {
  color: #fff;
  font-size: calc(1.3333333333 * (1vw + 1vh));
  font-family: Onest;
  font-weight: 400;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  h3 {
    width: 100%;
    font-size: 32px;
  }
}

h4 {
  color: #fff;
  font-size: calc(0.8333333333 * (1vw + 1vh));
  font-family: Onest;
  font-weight: 400;
  line-height: calc(1.25 * (1vw + 1vh));
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  h4 {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
  }
}

.num {
  color: white;
  font-size: calc(2.9166666667 * (1vw + 1vh));
  font-family: Onest;
  font-weight: 400;
  line-height: calc(4.4625 * (1vw + 1vh));
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .num {
    font-size: 40px;
    line-height: 61px;
  }
}

.sub {
  color: rgba(255, 255, 255, 0.8);
  font-size: calc(0.75 * (1vw + 1vh));
  font-family: Onest;
  font-weight: 300;
  line-height: calc(1.125 * (1vw + 1vh));
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .sub {
    width: 100%;
    font-size: 18px;
    line-height: 25.5px;
  }
}

.sub-secondary {
  color: rgba(255, 255, 255, 0.7);
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-family: Onest;
  font-weight: 300;
  line-height: calc(1 * (1vw + 1vh));
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .sub-secondary {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
}

.span-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-family: Onest;
  font-weight: 400;
  word-wrap: break-word;
  text-transform: uppercase;
  margin-bottom: calc(0.625 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .span-text {
    font-size: 16px;
    margin-bottom: 15px;
  }
}

.flex-start {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-stretch {
  display: flex;
  align-items: stretch;
}

.dropdown-lang {
  position: relative;
  cursor: pointer;
}
.dropdown-lang.active .dropdown-list {
  opacity: 1;
  height: calc(4.1666666667 * (1vw + 1vh));
}
.dropdown-lang.active .span-dropdown {
  opacity: 0.5;
}
.dropdown-lang .dropdown-list {
  position: absolute;
  opacity: 0;
  height: 0;
  top: 150%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(0.2083333333 * (1vw + 1vh));
  background-color: #fff;
  padding: calc(0.5416666667 * (1vw + 1vh)) calc(0.4166666667 * (1vw + 1vh));
  border-radius: 10px;
  overflow: hidden;
  z-index: 6;
  transition: all 0.4s;
}
@media screen and (max-width: 1050px) {
  .dropdown-lang .dropdown-list {
    gap: 10px;
    padding: 13px 10px;
  }
}
.dropdown-lang .current-lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(0.2083333333 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  .dropdown-lang .current-lang {
    gap: 5px;
  }
}
.dropdown-lang .current-lang::after {
  content: " ";
  width: calc(0.375 * (1vw + 1vh));
  height: calc(0.2083333333 * (1vw + 1vh));
  background-image: url(../assets/icons/triangel.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1050px) {
  .dropdown-lang .current-lang::after {
    width: 9px;
    height: 5px;
  }
}
.dropdown-lang .item-dropdown,
.dropdown-lang .current-lang {
  color: white;
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-family: Onest;
  font-weight: 400;
  word-wrap: break-word;
}
@media screen and (max-width: 1050px) {
  .dropdown-lang .item-dropdown,
  .dropdown-lang .current-lang {
    font-style: 16px;
  }
}
.dropdown-lang .item-dropdown {
  color: black;
}

header {
  width: 100%;
  padding-right: calc(5 * (1vw + 1vh));
  padding-left: calc(5 * (1vw + 1vh));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: calc(0.875 * (1vw + 1vh));
  padding-bottom: calc(0.875 * (1vw + 1vh));
  background: rgba(32, 40, 46, 0.8);
}
@media screen and (max-width: 1050px) {
  header {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media screen and (max-width: 1050px) {
  header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
header .custom-logo-link {
  width: calc(3.04625 * (1vw + 1vh));
  height: calc(2.2083333333 * (1vw + 1vh));
}
@media screen and (max-width: 1050px) {
  header .custom-logo-link {
    width: 71.11px;
    height: 53px;
  }
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(2.125 * (1vw + 1vh));
}
header .nav__item {
  color: white;
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-family: Onest;
  font-weight: 400;
  word-wrap: break-word;
}
header .contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: calc(0.7916666667 * (1vw + 1vh)) calc(2.1666666667 * (1vw + 1vh));
  background: linear-gradient(270deg, #f3be7c 0%, #d28f73 100%);
  border-radius: 5px;
  border: 1px solid linear-gradient(270deg, #f3be7c 0%, #d28f73 100%);
  color: white;
  font-size: calc(0.6666666667 * (1vw + 1vh));
  font-family: Onest;
  font-weight: 400;
  word-wrap: break-word;
  white-space: nowrap;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1050px) {
  header .contact-btn {
    padding: 19px 52px;
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */